---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Welcome to the MUN club of D. S. Senanayake College"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("May 01 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Welcome to the official website of the flagbearering enforcers of diplomacy!
  </p>

  <p>
    The Model United Nations of D.S. Senanayake College is a highly-motivated
    and rising MUN association in Sri Lanka, centred in the heart of Colombo 7,
    which makes the platform for little voices to contribute in changing the
    world for a future of brighter spirits and uplifting global peace.
  </p>

  <p>
    Progressing with the motto of "Enforce Diplomacy, Lead and Change the
    World", we are dedicated in producing souls enriched in diplomacy and human
    values to the nation in the essence of guiding the Sri Lankan community to
    prosperity while achieving the utmost goals of the UN through our events.
  </p>
  <p>
    Having shown the utmost success that any club could achieve in less than
    half a year after its inauguration with a cluster of award award winning
    members, DSSCMUN holds the glory for enforcing diplomacy, equality and
    sustainability within it in the peak level.
  </p>
  <p>
    Stay tuned with us and make yourself part of this exciting journey by
    exploring our projects, initiatives, conferences and much more to come!
  </p>
</Layout>
